@charset "UTF-8";
/*general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #0F0F0F;
  color: #e0e0e0;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, contenido y footer */
  grid-template-columns: 1fr; /* Una sola columna */
  row-gap: 15em;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  gap: 2em;
  color: #e0e0e0;
  text-align: center;
  padding: 8em 0;
  width: 100%;
}

/*Barra de Navegacion*/
nav {
  top: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: #0F0F0F;
  z-index: 1000;
  padding: 18px;
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 18px;
  padding: 10px 15px;
  transition: 0.3s;
  font-family: "Fira Sans", sans-serif;
  position: relative;
  font-weight: bold;
}

nav ul li a:hover {
  color: #e3b8e6;
  text-shadow: 0 0 10px rgb(181, 19, 185);
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #e3b8e6;
  bottom: 5px; /* Ajusta la posición del subrayado */
  left: 0;
  transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after {
  width: 100%;
}

.logo {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  color: #e0e0e0;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo .nombre {
  opacity: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: 1, 5s ease-in-out;
}

.logo .iniciales {
  color: rgb(181, 19, 185);
}

.logo:hover {
  width: 30%;
}

.logo:hover .nombre {
  opacity: 1;
  width: auto;
}

.logo:hover .iniciales {
  display: none; /*quiero que no se vea al desplegar*/
}

/* Canvas de fondo */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-10%);
  pointer-events: none;
}

/*encabezado*/
#rol-dinamico {
  font-size: 1.6em;
  font-family: "Fira Sans", sans-serif;
  opacity: 1; /* Asegura que el texto sea visible inicialmente */
  transition: opacity 0.5s ease-in-out; /* Transición para la opacidad */
}

#rol-dinamico.fade-out {
  opacity: 0; /* Hace que el texto se desvanezca */
}

.titulo-principal {
  font-size: 5em;
  font-family: "Montserrat", sans-serif;
  margin-top: 1em;
  margin-bottom: 0.6em;
  z-index: 1;
}

.Inicio {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Inicio p {
  text-shadow: 0 0 30px #ff2cff;
}

#foto-perfil {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 270px;
  display: block;
  margin: 0;
  box-shadow: 0 0 55px rgb(128, 12, 130);
  z-index: 1;
}

/*Body*/
section {
  border-radius: 10px;
  width: 80%;
  margin: 0 auto 60px auto;
  height: auto;
}

#SobreMi {
  background: url("https://www.transparenttextures.com/patterns/asfalt-dark.png"), rgba(39, 38, 38, 0.565);
  background-blend-mode: overlay;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.Titulo {
  border-radius: 10px;
  padding: 40px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 2em;
  background: url("https://www.transparenttextures.com/patterns/asfalt-dark.png"), rgba(57, 6, 58, 0.565);
}

.hola {
  font-size: 3em;
  color: #e3b8e6;
  text-shadow: 0 0 10px rgb(181, 19, 185);
  font-family: "Dancing Script", cursive;
}

.Redes-Buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 35px;
  margin: 40px;
}

.Redes-Buttons a {
  background-color: rgba(70, 70, 70, 0.4);
  text-shadow: 0 0 10px rgb(181, 19, 185);
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.Redes-Buttons a:hover {
  background-color: rgb(181, 19, 185) !important;
  text-shadow: 0 0 20px rgb(181, 19, 185);
  box-shadow: 0 0 20px rgb(181, 19, 185);
}

.Presentacion {
  text-align: right;
  font-size: 1.6em;
  font-family: "Fira Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 40px;
}

.Presentacion p {
  margin: 0;
  padding: 0;
  text-align: center;
}

#FormacionAcademica {
  background: url("https://www.transparenttextures.com/patterns/asfalt-dark.png"), rgba(39, 38, 38, 0.565);
  background-blend-mode: overlay;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 40px;
}

#FormacionAcademica h1 {
  font-size: 4em;
  color: #e3b8e6;
  text-shadow: 0 0 10px rgb(181, 19, 185);
  font-family: "Dancing Script", cursive;
  margin-bottom: 0.5em;
}

/*linea de tiempo*/
.timeline {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.timeline__event {
  background: #0F0F0F;
  margin-left: 15%;
  position: relative;
  display: flex;
  flex-direction: row;
  color: #e0e0e0;
  font-family: "Fira Sans", sans-serif;
  border-radius: 8px;
  box-shadow: 0 10px 30px -12px rgb(128, 12, 130), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.timeline__event__title {
  font-size: 1.2rem;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Fira Sans", sans-serif;
  color: #ffaaff;
  letter-spacing: 1.5px;
}

.timeline__event__content {
  padding: 20px;
}

.timeline__event__date {
  color: #ffaaff;
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
}

.timeline__event__icon { /*icono1*/
  border-radius: 8px 0 0 8px;
  background: rgb(66, 65, 65);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #ffaaff; /* Cambio de color del texto a blanco */
  padding: 20px;
}

/*
.timeline__event__icon i {
    position: absolute;
    top: 50%;
    left: -65px;
    font-size: 2.5rem;
    transform: translateY(-50%);
}
*/
.timeline__event__description {
  flex-basis: 60%;
}

.timeline__event::after { /*linea 1*/
  content: "";
  width: 2px;
  height: 100%;
  background: #ffaaff;
  position: absolute;
  top: 52%;
  transform: translateY(10%);
  left: -3.5rem;
  z-index: -1;
}

.timeline__event::before { /*circulo1*/
  content: "";
  width: 5rem;
  height: 5rem;
  position: absolute;
  background: rgb(66, 65, 65);
  border-radius: 100%;
  left: -6rem;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #ffaaff;
}

.timeline__event--type2::before { /*circulo2*/
  border-color: #ef56ef;
}

.timeline__event--type2::after { /*linea 2*/
  background: #ef56ef;
}

.timeline__event--type2 .timeline__event__date { /*fecha 2*/
  color: #ef56ef;
}

.timeline__event--type2 .timeline__event__icon { /*icono 2*/
  background: rgb(66, 65, 65);
}

.timeline__event--type2 .timeline__event__title {
  color: #ef56ef;
}

.timeline__event--type3::before { /*circulo3*/
  border-color: #cd0acd;
}

.timeline__event--type3 .timeline__event__date { /*fecha 3*/
  color: #cd0acd;
}

.timeline__event--type3 .timeline__event__icon { /*icono 3*/
  background: rgb(66, 65, 65);
}

.timeline__event--type3 .timeline__event__title {
  color: #cd0acd;
}

.timeline__event:last-child::after {
  content: none;
}

@media (max-width: 786px) { /*las media queries permiten aplicar estilos según el tamaño de la pantalla */
  .timeline__event {
    flex-direction: column;
  }
  .timeline__event__icon {
    border-radius: 4px 4px 0 0;
  }
}
.timeline__event:hover {
  /*background-color: rgba(181, 19, 185, 0.3)!important;*/
  text-shadow: 0 0 20px rgb(181, 19, 185);
  box-shadow: 0 0 15px rgb(181, 19, 185);
}

#Aptitudes {
  background: url("https://www.transparenttextures.com/patterns/asfalt-dark.png"), rgba(39, 38, 38, 0.565);
  background-blend-mode: overlay;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 40px;
}

#Aptitudes h1 {
  font-size: 4em;
  color: #e3b8e6;
  text-shadow: 0 0 10px rgb(181, 19, 185);
  font-family: "Dancing Script", cursive;
  text-align: left;
}

/*botones de aptitudes*/
.titulo-acord {
  width: 100%;
  background-color: rgba(39, 38, 38, 0.565); /* Gris oscuro semi-transparente */
  color: #e0e0e0; /* Blanco/gris claro */
  border: 2px solid rgb(181, 19, 185); /* Borde con el color de detalle */
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  border-radius: 5px; /* Bordes redondeados suaves */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra leve */
  margin: 10px 0; /* Separación arriba y abajo */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.titulo-acord:hover {
  background-color: rgb(181, 19, 185); /* Cambio de color al pasar el mouse */
  color: #e0e0e0;
  border-color: #e0e0e0;
  box-shadow: 3px 3px 10px rgb(128, 12, 130);
}

.titulo-acord:active {
  transform: scale(0.95); /* Pequeña reducción al hacer clic */
}

/*tecnologias*/
.contenido-acord {
  margin: auto;
  padding: 10px;
  justify-self: auto;
}

.contenido-acord img {
  background-color: rgba(70, 70, 70, 0.4);
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px; /* Ancho fijo */
  height: 80px; /* Alto fijo */
}

figcaption {
  font-style: "Fira Sans", sans-serif;
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
}

.contenido-acord .tecnologias {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: auto;
}

.contenido-acord img:hover {
  /*background-color: rgba(181, 19, 185, 0.3)!important;*/
  text-shadow: 0 0 20px rgb(181, 19, 185);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/*CONTACTO*/
#Contacto {
  background: url("https://www.transparenttextures.com/patterns/asfalt-dark.png"), rgba(57, 6, 58, 0.565);
  background-blend-mode: overlay;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  color: #e0e0e0;
  font-family: "Fira Sans", sans-serif;
}
#Contacto form {
  display: grid;
  gap: 2rem;
}

.form_fieldset {
  border: 2px solid #e3b8e6;
  border-radius: 10px;
  padding: 2rem;
  display: grid;
  gap: 1.5rem;
}

.form_legend {
  font-size: 4em;
  color: #e3b8e6;
  text-shadow: 0 0 10px rgb(181, 19, 185);
  font-family: "Dancing Script", cursive;
  margin: 0.5em;
}

.form_group {
  display: grid;
  gap: 0.5rem;
}
.form_group--center {
  display: flex;
  justify-content: center;
}

.form_label {
  font-weight: bold;
  color: #e3b8e6;
}

.form_input,
.form_textarea {
  background-color: rgba(39, 38, 38, 0.565);
  border: 1px solid #cd0acd;
  border-radius: 8px;
  padding: 0.75rem;
  color: #e0e0e0;
  font-size: 1rem;
  box-shadow: inset 0 0 5px rgba(255, 44, 255, 0.3);
  transition: 0.3s;
}
.form_input:focus,
.form_textarea:focus {
  outline: none;
  border-color: #ffaaff;
  box-shadow: 0 0 8px #ff2cff;
}

.form_textarea {
  min-height: 120px;
}

.form_button {
  background-color: rgba(70, 70, 70, 0.4);
  color: #e0e0e0;
  border: 1px solid #ef56ef;
  padding: 0.75rem 2rem;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px #cd0acd;
}
.form_button:hover {
  background-color: #cd0acd;
  color: #0F0F0F;
  box-shadow: 0 0 15px #ff2cff;
}

/*# sourceMappingURL=style-final.css.map */